.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #5e3360;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  background-color: rgba(243, 181, 232, 0.6);
  padding: 0 20px;
}


.hero-content {
  max-width: 700px;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.3);
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.hero-title {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.hero-title span {
  color: #c77dff;
}

.hero-subtitle {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  background-color: #c77dff;
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 12px 30px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #b46ff3;
}
